.hero {
  min-height: auto;
  background: linear-gradient(135deg, #1E120D, #2B1B12);
  padding: 20px 40px;
  overflow: hidden;

  .hero-left {
    h1 {
      font-size: 60px;
      font-weight: 700;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
      color: #ccc;
      max-width: 400px;
    }
  }

  .hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    .btn-coffee {
      background: #C8A27A;
      border: none;
      padding: 10px 25px;
      color: black;

      &:hover {
        transform: scale(1.05);
      }
    }

    .btn-explore {
      background: transparent;
      border: 2px solid #C8A27A;
      padding: 8px 22px;
      color: #C8A27A;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .hero-stats {
    display: flex;
    gap: 40px;
    margin-top: 40px;

    h4 {
      color: #C8A27A;
      margin: 0;
    }

    span {
      font-size: 14px;
      color: #aaa;
    }
  }

  .hero-right {
    img {
      width: 50%;
      height: auto;
      object-fit: contain;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: auto !important;

    .hero-left {
      h1 {
        font-size: 40px !important;
      }

      p {
        max-width: 100%;
      }

      .hero-buttons {
        align-items: center;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
      }
    }

    .hero-right {
      img {
        width: 80%;
        margin-top: 20px;
      }
    }
  }
}